h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    transition: color 250ms var(--transition-timing-function);
}

.link:hover, .link:focus {
   color: var(--accent-color); 
}

.list {
    list-style: none;
}

.item {
    list-style: none;
}

